<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>517098062644-6mp86amg6th46qi2j77f8pb8dq1v2ia4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.517098062644-6mp86amg6th46qi2j77f8pb8dq1v2ia4</string>
	<key>API_KEY</key>
	<string>AIzaSyD-x88gHTKISbAODF5fVzKt8andOa84FaY</string>
	<key>GCM_SENDER_ID</key>
	<string>517098062644</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.cwikapp</string>
	<key>PROJECT_ID</key>
	<string>cwikadmin</string>
	<key>STORAGE_BUCKET</key>
	<string>cwikadmin.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:517098062644:ios:d5c47949d16da4e3375b61</string>
</dict>
</plist>